<!--<p>show.html</p>-->

<div class="container" >
  <div class="show_body">
    <div class="show_main">
      <div class="show_title">
          <h2 class="show_card-title"><%= @list.title %></h2>
        </div>
      <div class="show_line">
        <div class="show_image">
          <%= image_tag @list.img.url, class:"show_img"%>
        </div>
        <div class="show_form">
          <div class="show_text">
            <p class="show_card-text"><%= @list.body %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="show_root">
      <a class="nav-link active show_link"><%= link_to image_tag("white_edit_icon.png", class:"edit_switch"), edit_blog_path(@list) %><span class="sr-only">EDIT</span></a>
      <a class="nav-link active show_link"><%= link_to image_tag("white_delete_icon.png", class:"edit_switch"), blog_path, method: :delete %><span class="sr-only">DELETE</span></a>
      <!--<%= link_to 'edit', edit_blog_path(@list) %>-->
      <!--<%= link_to 'delete', blog_path, method: :delete %>-->
    </div>
  </div>
</div>